  :root {
    --backdrop: rgba(0,0,0,0.3);
    --button-border: 8px
  }

  svg {
  filter: drop-shadow(-2px 2px 2px rgb(0 0 0 / 15%));
  }

  /* ---ALBUM ART BACKGROUND---- */
  .Root__top-container::before {
      content: "";
      background-image: var(--image_url);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transition: background-image var(--fade-time) ease !important;
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      filter: blur(var(--blur)) contrast(var(--cont)) saturate(var(--satu)) brightness(var(--bright));
      pointer-events: none;
      backface-visibility: hidden;
      will-change: transform;
      transition: background-image var(--transition);
      opacity: 0.55;
      z-index: 0;
  }

  /* ----TRANSPARENT WINDOW CONTROLS----*/

  body.windows::after {
    content: '';
    position: absolute;
    right: 0;
    z-index: 999;
    backdrop-filter: brightness(2.12);
    width: 135px;
    height: 31px;
  }

  /* ----NAVBAR---- */
  .Root__nav-bar  {
      background-color: transparent
  } 
  .main-yourLibraryX-entryPoints, .playlist-playlist-playlistContent {
      background-color: var(--backdrop) !important
  }

  .main-yourLibraryX-header .main-yourLibraryX-collapseButtonWrapper {
    color: var(--spice-subtext);
  }

  .BoxComponent-group-tinted-isInteractive-hasLeadingOrMedia-paddingBlockStart_8px-paddingBlockEnd_8px-minBlockSize_56px-padding_8px {
      background-color: var(--background-tinted-base,rgba(0,0,0,0.08));
  }

  .BoxComponent-group-tinted-isInteractive-hasLeadingOrMedia-paddingBlockStart_8px-paddingBlockEnd_8px-minBlockSize_56px-padding_8px:hover {
      background-color: var(--background-tinted-base,rgba(0,0,0,0.08));
  }

  .main-navBar-navBarLinkActive,
  .main-collectionLinkButton-selected {
    border-radius: 8px !important;
  }

  .main-yourLibraryX-libraryContainer {
    --background-highlight: rgba(255,255,255,0.05) !important;
    --background-press: rgba(255,255,255,0.05);
  }

  .main-rootlist-wrapper {
    --spice-rgb-shadow: !important;
  }

  .main-yourLibraryX-isScrolled {
    -webkit-box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
  }

  .main-yourLibraryX-listRowEntityImage {
    box-shadow: -2px 4px 6px 2px rgb(0 0 0 / 14%);;
  }

  /* ----NOW PLAYING BAR---- */

  .Root__now-playing-bar {
    background-color: var(--backdrop) !important;
    border-radius: 8px;
  }

  .main-nowPlayingBar-nowPlayingBar {
    height: 90px !important;
    margin-right: 16px;

  }

  .main-coverSlotCollapsed-container {
    border-radius: 4px !important;
    transform: scale(1.2) !important;
    margin-right: 10px;
  }


  .main-nowPlayingWidget-nowPlaying {
    display: -webkit-box !important;
    width: 70% !important;
  }

  .main-playPauseButton-button {
    background-color: transparent;
  }

  .main-skipForwardButton-button,
  .main-skipBackButton-button, 
  .main-repeatButton-button, 
  .main-playPauseButton-button,
  .main-shuffleButton-button {
    color: var(--spice-text)
  }

  .main-nowPlayingWidget-coverExpanded > .main-coverSlotCollapsed-container {
      transform: translateX(-8px) scale(1) !important;
  }

  .progress-bar {
      --bg-color: rgba(var(--spice-rgb-selected-row),.3);
      --fg-color: var(--spice-button);
      --is-active-fg-color: var(--spice-button-active);
  }


  .ChipClearComponent-chipClear-useBrowserDefaultFocusStyle,
  .ChipInnerComponent,
  .ChipComponent-checkbox-chip-useBrowserDefaultFocusStyle > span {
    border-radius: var(--button-border) !important;
  }


  /* ---SIDEBAR---- */

  .main-buddyFeed-header {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-inline-start: 3px;
  }

  /* Fade from Galaxy */
  /* add scroll fade to ylx and right sidebar */
  .Root__nav-bar [fade="top"] {
      -webkit-mask-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 1) 20%);
  }
  .Root__nav-bar [fade="full"] {
      -webkit-mask-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 80%, transparent 100%);
  }

  .spotify__os--is-windows .nav-ylx .main-nowPlayingView-nowPlayingWidget,
  .main-nowPlayingView-nowPlayingWidget {
    padding-top: 0px !important; 
  }

  .spotify__os--is-windows .nav-ylx .main-buddyFeed-content {
      margin-top: 0;
  }

  .main-nowPlayingView-section > .main-nowPlayingView-sectionHeaderSpacing > .main-nowPlayingView-lyricsGradient {
    opacity: 0.2
  }

  .main-nowPlayingView-content.main-nowPlayingView-gradient,
  Root__right-sidebar {
    background: none !important;
    padding-top: 2px
  }

  .main-buddyFeed-container.main-buddyFeed-panelTransition {
      --background-base: var(--backdrop)!important;
  }

  .main-nowPlayingView-sectionHeaderSpacing.main-nowPlayingView-lyricsGradient {
      background-color: var(--background-tinted-base)
  }

  .main-nowPlayingView-section {
      background-color: var(--backdrop);
      border-radius: 8px;
      padding: 16px;
  }

  .main-nowPlayingView-sectionHeaderSpacing.main-nowPlayingView-lyricsGradient {
      box-shadow: 0px 2px 10px 2px rgb(0 0 0 / 10%);
    }

  /* ---PLAYLIST VIEW---- */

  .Root__main-view {
      background-color: var(--backdrop) !important;
  }

  .main-trackList-trackListRow:focus-within,
  .main-trackList-trackListRow:hover {
      background-color: transparent !important;
  }
  .main-trackList-trackListRow.main-trackList-selected,
  .main-trackList-trackListRow.main-trackList-selected:hover {
      background-color: transparent !important;
  }

  .playlist-playlist-playlistContent {
      background: none !important;
      background-color: transparent !important;
  }

  .main-trackList-rowSectionStart > img {
    box-shadow: 0px 2px 10px 2px rgb(0 0 0 / 15%); 
  }

  .main-trackList-rowMainContent > div {
  text-shadow: 0 0 10px rgb(0 0 0 / 40%);
  }

  .main-entityHeader-image{
    border-radius: 8px !important
  }

  .main-entityHeader-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .main-entityHeader-container {
    justify-content: center;
  }

  .playlist-playlist-playlistImageContainer {
    --icon-width: 180px;
    align-self: center;
    flex-shrink: 0;
    height: var(--icon-width);
    width: var(--icon-width);
    min-width: var(--icon-width);
    box-shadow: -2px 4px 9px 3px rgb(0 0 0 / 15%);
    position: sticky;
    margin-top: auto
  }

  .main-nowPlayingView-nowPlayingWidget > div > div:nth-child(1) > div {
    box-shadow: 0px 4px 10px 3px rgb(0 0 0 / 12%);
  }

  .main-entityHeader-headerText > span.Type__TypeElement-sc-goli3j-0.TypeElement-mestoBold-type {
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .main-view-container__scroll-node-child > main > div > section > .main-entityHeader-container.main-entityHeader-nonWrapped {
    min-height: 300px;
  }

  .Button-sm-buttonSecondary-useBrowserDefaultFocusStyle,
  .Button-sc-y0gtbx-0.Button-sm-buttonSecondary-iconLeading-useBrowserDefaultFocusStyle.I3oc8sxg8Duq4kYUGnMo.LEZf9K5hG4hfCKfgr5Xo {
    border-radius: var(--button-border)
  }

  /* ----TOP BAR---- */

  .main-topBar-background {
      background: none !important;
  }

  .main-topBar-overlay {
      background-color: transparent !important;
      opacity: 0.2 !important;
  }

  .nav-ylx .main-trackList-trackListHeaderStuck.main-trackList-trackListHeader,
  .main-trackList-trackListHeader.main-trackList-trackListHeaderStuck {
    background: none;
    position: static !important;
    box-shadow: unset;
  }

  .main-entityHeader-topbarTitle {
    cursor: pointer;
  }

  .I4p8r1UNjIGk9yv3H2Ms,
  .IAyWaeDamLJLjxuPeVKw, 
  .Button-md-24-buttonTertiary-condensedAll-useBrowserDefaultFocusStyle,
  .main-topBar-buddyFeed{
    border-radius: var(--button-border) !important
  }

  .SFgYidQmrqrFEVh65Zrg > figure > div > img {
    border-radius: 6px !important
  }

  .Fxnb0xe6bL7I7W8V0p6C,
  .main-topBar-buddyFeed,
  .main-userWidget-boxCondensed,
  .SFgYidQmrqrFEVh65Zrg, 
  .SFgYidQmrqrFEVh65Zrg:hover {
    background-color: var(--backdrop) !important;
  }

  /* Fade From Galaxy */
  [fade="bottom"] {
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 95%, transparent 100%);
  }
  [fade="top"] {
    -webkit-mask-image: linear-gradient(transparent 9%, rgba(0, 0, 0, 1) 15%);
  }
  [fade="full"] {
    -webkit-mask-image: linear-gradient(transparent 9%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 95%, transparent 100%);
  }

  /*--------*/


  .main-playButton-PlayButton, .main-playButton-PlayButton {
      transition: transform 0.2s ease
  }

  .main-playButton-PlayButton:focus, .main-playButton-PlayButton:hover {
    background-color: var(--background-highlight);
    -webkit-transform: scale(1) !important;
    transform: scale(1.0) !important;
  }

    /* remove main play button background */
  .ButtonInner-sc-14ud5tc-0.ButtonInner-lg-iconOnly.encore-bright-accent-set {
      background: none;
      color: var(--spice-text)
  }

  .playlist-playlist-playlistContent {
    background: none !important;
  }

  .playlist-playlist-playlist span.ButtonInner-sc-14ud5tc-0.encore-bright-accent-set,
  .Root__top-bar span.ButtonInner-sc-14ud5tc-0.encore-bright-accent-set {
    background: none !important;
    color: var(--spice-text) !important
  }

  .ButtonInner-sc-14ud5tc-0.ButtonInner-md-iconOnly.encore-bright-accent-set {
    color: var(--spice-text) !important;
    background: rgba(0,0,0,0.5);
    border-radius: var(--button-border);
    right: 4px;
    }

  .ButtonInner-md-iconOnly:hover {
    box-shadow: unset;
  }

  .main-playButton-PlayButton {
    background: none !important
  }

  .main-topBar-historyButtons .main-topBar-button {
    background-color: var(--backdrop);
    border-radius: 6px;
  }

  .search-searchCategory-carouselButton,
  .search-searchCategory-carouselButton:hover {
    background-color: transparent;
    border-radius: var(--button-border)
  }


  /* ----SEARCH---- */

  .main-heroCard-card {
    background: var(--backdrop) !important;
  } 

  .main-heroCard-card:hover {
    background: rgba(0,0,0,0.2) !important;
  }

  .nav-ylx .x-searchInput-searchInputInput,
  .nav-ylx .x-searchInput-searchInputInput:hover,
  .x-searchInput-searchInputInput,
  .x-searchInput-searchInputInput:hover {
    background-color: var(--backdrop) !important;
    border-radius: 4px;
    color: rgba(var(--spice-rgb-selected-row),.7);
    height: 32px;
    border-radius: 8px
  }

  .search-searchCategory-SearchCategory {
    background: none;
    position: static;
  }

  .nav-ylx .x-searchInput-searchInputInput:hover,
  .x-searchInput-searchInputInput:hover{
      box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
  }

  .nav-ylx .x-searchInput-searchInputInput:focus,
  .x-searchInput-searchInputInput:focus {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
  }

  .x-searchInput-searchInputSearchIcon {
    margin-top: 3px;
  }

  .search-searchCategory-categoryGridItem  > button > span {
    border-radius: var(--button-border);
    font-weight: 700 !important;
    color: var(--spice-text)
  }

  .search-searchCategory-categoryGridItem > button {
    height: 32px !important
  }

  .search-searchCategory-categoryGridItem > button {
    border-radius: var(--button-border);
    font-weight: 700 !important;
  }

  .search-searchCategory-categoryGridItem  > button[aria-checked="true"] {
    background-color: var(--backdrop);
  }

  .search-searchCategory-categoryGridItem  > button[aria-checked="true"]:hover {
    background-color: rgba(0,0,0,0.2);
  }

  .search-searchCategory-categoryGridItembutton[aria-checked="false"]  > button:hover {
    background-color: rgba(0,0,0,0.2) !important;
    color: var(--spicet-text)
  }

  .x-searchHistoryEntries-clearSingleSearchHistory > button {
    border-radius: var(--button-border);
    background-color: var(--backdrop);
  }

  .x-searchHistoryEntries-clearSingleSearchHistoryButton:focus, .x-searchHistoryEntries-clearSingleSearchHistoryButton:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  /* ----MISCELLANEOUS---- */

  .main-actionBarBackground-background,
  .main-nowPlayingBar-container {
    background: none !important;
  }

  .main-entityHeader-background.main-entityHeader-overlay,
  .main-entityHeader-backgroundColor {
    display: none;
  }


  .queue-tabBar-active,
  .lyrics-tabBar-active {
    background-color: var(--backdrop);
    height: 32px
  }

  .queue-tabBar-headerItemLink,
  .lyrics-tabBar-active,
  .lyrics-tabBar-headerItemLink{
    padding: 2px 16px;
    transition: background-color 0.3s ease;
    height: 32px
  }

  .queue-tabBar-headerItemLink:hover,
  .lyrics-tabBar-headerItemLink:hover {
    padding: 2px 16px;
    background-color: rgba(0,0,0,0.2);
    height: 32px
  }

  .lyrics-config-button {
    background-color: var(--backdrop)
  }

  .IAyWaeDamLJLjxuPeVKw {
      background-color: var(--backdrop);
      color: rgba(var(--spice-rgb-selected-row),.7);
  }

  .SxHlW6byhoJSUJNugaE1 .Kujbn0F68QOf_o44cNxw {
      border: 1px solid var(--backdrop);
  }

  .Psc33HXPyazZYAAr1tgz, .I4p8r1UNjIGk9yv3H2Ms {
      background: var(--backdrop);
  }

  .main-shelf-shelfGrid.main-shelf-showAll {
      padding-top: 4px
  }

  .x-categoryCard-CategoryCard {
    transition: transform 0.2s ease;
  }

  .x-categoryCard-CategoryCard:hover {
    transform: translateY(-4px);
  }

  .Ft1cMGlqDsCbqmXQyeKN,
  .xcTrtCsYOPtSElbX9inq {
      background: none
  }

  .main-buddyFeed-scrollBarContainer.os-host-transition > div.os-padding > div{
    -webkit-mask-image: linear-gradient(transparent 1%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 96%, transparent 100%);
  }

  /* ----TEXT SHADOWS---- */
  .main-entityHeader-topbarTitle,
  .main-shelf-title,
  .main-entityHeader-titleButton,
  .main-entityHeader-metaData,
  .playlist-playlist-playlistDescription,
  .main-entityHeader-detailsText,
  .main-entityHeader-title,
  .artist-artistVerifiedBadge-wrapper > span,
  .main-buddyFeed-link,
  .main-trackInfo-name,
  .main-trackInfo-contentWrapper,
  .main-trackInfo-contentWrapper,
  .main-yourLibraryX-listRowSubtitle,
  .ListRowTitle__LineClamp-sc-1xe2if1-0 {
    text-shadow: -1px 3px 20px rgb(0 0 0 / 20%);
  }

  /* ----ALBUM VIEW---- */

  .x-album-releasesDropdown {
      background-color: var(--backdrop);
  }

  .nav-ylx .artist-artistDiscography-headerContainer {
    background: none;
  }

  .artist-artistDiscography-topBar {
    position: fixed
  }

  .nav-ylx .artist-artistDiscography-topBar.artist-artistDiscography-topBarScrolled {
      background: none;
      border-bottom: none;
      -webkit-box-shadow: unset;
      box-shadow: unset;
  }

  /* ----HOME VIEW---- */

  .main-home-homeHeader {
    background: none;
    background-color: var(--backdrops) !important
  }

  .view-homeShortcutsGrid-shortcut {
    background-color: var(--backdrop);
    border-radius: 4px;
    transition: transform 0.2s ease;
    box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.1);
  }

  .view-homeShortcutsGrid-shortcut:focus-within, .view-homeShortcutsGrid-shortcut:hover, .view-homeShortcutsGrid-shortcut[data-context-menu-open=true] {
    background: var(--backdrop);
    transform: scale(1.02);
  }

  .view-homeShortcutsGrid-PlayButtonContainer {
      box-shadow: unset;
      display: flex;
      opacity: 0;
      pointer-events: none;
      position: relative;
      transition: all 0.3s ease 0s;
      z-index: 2;
  }

  .main-card-card {
    background: none !important;
    background-color: var(--backdrop) !important;
    transition: transform 0.2s ease;
    border-radius: 6px;
    box-shadow: 4px 0px 15px rgb(0 0 0 / 20%);
  }

  .main-card-draggable {
    transition: transform 0.2s ease;
  }

  .main-card-card:hover > .main-card-draggable {
    transform: translateY(-4px);
    z-index: 5
  }

  .main-heroCard-PlayButtonContainer {
      -webkit-box-shadow: unest;
      box-shadow: unset;
  }


  .Button-lg-buttonPrimary-useBrowserDefaultFocusStyle:hover 
  .ButtonFocus-sc-2hq6ey-0,
  .Button-lg-buttonPrimary-useBrowserDefaultFocusStyle:hover 
  .ButtonInner-sc-14ud5tc-0 {
    transform: unset
  }

  .main-coverSlotCollapsed-expandButton {
    position: absolute;
    background: var(--backdrop);
    top: 0px;
    margin-right: -5px;
    transform: scale(0.8);
    border-radius: var(--button-border)
  }

  .main-coverSlotCollapsed-expandButton:focus, 
  .main-coverSlotCollapsed-expandButton:hover {
    background: var(--backdrop);
    transform: scale(0.81);
  }

  .main-card-PlayButtonContainer {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .x-settings-equalizerSection {
    background-color: var(--backdrop);
    border-radius: 6px
  }

  .main-dropDown-dropDown {
    background-color: var(--backdrop);
  }

  .x-settings-input {
    background-color: var(--backdrop);
  }

  .x-toggle-indicatorWrapper,
  .x-toggle-indicatorWrapper:hover {
    background-color: var(--backdrop);
  }

  input:hover:not([disabled], :active) ~ .x-toggle-indicatorWrapper {
  background-color: rgb(255 255 255 / 10%)
  }

  input:hover ~ .x-toggle-indicatorWrapper {
  background-color: var(--backdrop)
  }
    
  /*----ARTIST PAGE---- */

  .main-entityHeader-title h1 {
      font-size: 56px !important;
      line-height: 56px !important;
  }

  /* Color Artist Image */
  .under-main-view div,
  .main-entityHeader-imageContainer{
    opacity: 0.9;
    filter: grayscale(10%)  brightness(80%);

  }

  .main-entityHeader-background.main-entityHeader-gradient {
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 82%, transparent 100%);
  }

  .artist-artistOverview-artistOverviewContent {
    background-color: transparent;
    margin-top: 10px !important;
  }

  .artist-artistAbout-container {
      background-color: var(--backdrop);
  }

  .main-trackCreditsModal-container,
  .main-aboutRecsModal-container,
  .main-playlistEditDetailsModal-container,
  .profile-userEditDetails-container,
  .artist-artistAbout-modal {
    background-color: rgba(0,0,0,0.4) !important;
    backdrop-filter: blur(5px);
    border-radius: 8px
  }

  .GenericModal {
    background: none
  }

  .uJjmxe0T11dUVeW6Biz8 {
    background: none
  }

  .SxHlW6byhoJSUJNugaE1 > figure > div > img {
    border-radius: 8px
  }

  .mYvNDps8FDVgHSCzpeqC,
  .o6lOM3qmit24hWlOBbw0 > img {
    border-radius: 8px !important
  }

  .Kujbn0F68QOf_o44cNxw {
    bottom: -4px !important;
    right: -10px !important
  }

  /* ----BLOOM LYRICS---- */

  :root {
    --lyrics-text-direction: left;
  }

  .lyrics-lyrics-background {
    visibility: hidden !important;
  }

  .lyrics-lyrics-container {
    --lyrics-color-active: rgb(255, 255, 255) !important;
    --lyrics-color-inactive: rgba(255, 255, 255, 0.35) !important;
    --lyrics-color-passed: rgba(255, 255, 255, 0.8) !important;
    --lyrics-color-messaging: rgba(255, 255, 255, 0.45) !important;
  }

  .lyrics-lyricsContent-lyric {
    transform-origin: var(--lyrics-text-direction);
    margin: 0.3rem 0;
    transform: scale(1);
    text-shadow: none;
    transition: transform 400ms ease, text-shadow 400ms ease, color 50ms ease;
  }

  /* lyrics not available message */
  .C3pBU1DsOUJJOAv89ZFT {
    color: var(--lyrics-color-passed) !important;
  }

  .lyrics-lyricsContent-lyric:hover {
    color: var(--lyrics-color-active) !important;
  }

  .lyrics-lyricsContent-isInteractive:active {
    transform: scale(0.9);
  }

  .lyrics-lyricsContent-active {
    transform: scale(1.1);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    max-width: var(--lyrics-active-max-width);
  }

  /* right sidebar lyrics */
  .main-nowPlayingView-lyricsContent > .lyrics-lyricsContent-lyric {
    max-width: 90% !important;
  }


  /* New Lyrics Plus style */

  .lyrics-lyricsContainer-LyricsBackground {
    visibility: hidden !important;
  }

  /* hide horizontal scrollbar */
  .lyrics-lyricsContainer-SyncedLyricsPage {
    overflow-x: hidden;
  }

  .lyrics-lyricsContainer-LyricsContainer {
    --lyrics-color-active: white !important;
    --lyrics-color-inactive: rgba(255, 255, 255, 0.5) !important;
  }

  .lyrics-lyricsContainer-LyricsLine {
    text-shadow: none;
  }

  .lyrics-lyricsContainer-SyncedLyrics .lyrics-lyricsContainer-LyricsLine {
    transition-property: transform, color, opacity, text-shadow !important;
  }

  .lyrics-lyricsContainer-Karaoke-Word {
    transition: var(--word-duration) color ease, var(--word-duration) text-shadow ease !important;
    text-shadow: none;
  }

  .lyrics-lyricsContainer-Karaoke-WordActive,
  .lyrics-lyricsContainer-SyncedLyrics .lyrics-lyricsContainer-LyricsLine-active {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  }

  .lyrics-lyricsContainer-LyricsUnavailableMessage {
    color: rgba(255, 255, 255, 0.4) !important;
  }

  .lyrics-lyricsContainer-Provider {
    background: none !important;
  }

  /* ----SCROLLBAR---- */
  .os-scrollbar-handle {
    border-radius: 50px;
  }

  .os-theme-spotify > .os-scrollbar-vertical {
    margin-right: 2px;
  }

  .os-scrollbar-vertical {
    width: 6px !important;
    transition: width 150ms ease !important;
  }

  .os-scrollbar-vertical:hover,
  .os-scrollbar-vertical:active {
    width: 9px !important;
  }

  .os-scrollbar-horizontal {
    display: none;
  }

  .main-nowPlayingView-lyricsContent::-webkit-scrollbar{
    width: 2px !important;
  }

  .main-nowPlayingView-lyricsContent::-webkit-scrollbar-thumb {
    border-radius: 50px !important;
    background-color: var(--spice-rgb-selected-row)
  }

  /* ----MARKETPLACE---- */
  .marketplace-tabBar-headerItemLink.marketplace-tabBar-active {
    background-color: var(--backdrop);
    border-radius: 4px;
    height: 32px;
  }

  .marketplace-tabBar-headerItemLink {
    padding: 2px 16px;
    transition: background-color 0.3s ease;
    height: 32px;
  }

  .marketplace-tabBar-headerItemLink:hover {
    padding: 2px 16px;
    background-color: rgba(0,0,0,0.2);
  }

  .searchbar-bar {
      border-style: none;
      background-color: var(--backdrop) !important; 
  }

  .marketplace-header-icon-button {
      background-color: var(--backdrop);
  }

  .marketplace-header-icon-button:hover {
      background-color: rgba(255,255,255,0.01);
  }

  #marketplace-readme {
    background: var(--backdrop) !important;
    border-radius: 8px !important;
    padding: 20px !important;
  }

  .Dropdown-control {
    background-color: var(--backdrop);
  }

  /* ----BLOOM CONTEXT MENUS---- */

  div#context-menu:before,
  .main-contextMenu-menu:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px !important;
    backdrop-filter: blur(25px) ;
  }

  .main-contextMenu-menu,
  .main-contextMenu-tippy,
  .aCtCKL9BxAoHeVZS0uRs {
    background-color: rgba(var(--spice-rgb-card), 0.6) !important;
  }

  .main-contextMenu-filterPlaylistSearchContainer {
    height: auto;
  }

  /* ----ANIMATIONS ----*/

  .x-downloadButton-button,
  .x-contributorButton-button,
  .Button-sm-buttonSecondary-useBrowserDefaultFocusStyle,
  .main-moreButton-button,
  .Button-sc-y0gtbx-0.Button-sm-buttonSecondary-iconLeading-useBrowserDefaultFocusStyle.I3oc8sxg8Duq4kYUGnMo.LEZf9K5hG4hfCKfgr5Xo,
  .playlist-playlist-playlist span.ButtonInner-sc-14ud5tc-0.encore-bright-accent-set,
  .Root__top-bar span.ButtonInner-sc-14ud5tc-0.encore-bright-accent-set,
  .ButtonInner-sc-14ud5tc-0.ButtonInner-lg-iconOnly.encore-bright-accent-set,
  .artist-followButton-button,
  .IconWrapper__Wrapper-sc-1hf1hjl-0.Wrapper-lg-28-only {
    transition: transform 0.2s ease
  }

  .x-downloadButton-button:hover,
  .x-contributorButton-button:hover,
  .main-moreButton-button:hover,
  .playlist-playlist-playlist span.ButtonInner-sc-14ud5tc-0.encore-bright-accent-set:hover,
  .Root__top-bar span.ButtonInner-sc-14ud5tc-0.encore-bright-accent-set:hover,
  .IconWrapper__Wrapper-sc-1hf1hjl-0.Wrapper-lg-28-only:hover {
    transform: scale(1.1)
  }

  .Button-sm-buttonSecondary-useBrowserDefaultFocusStyle:hover,
  .artist-followButton-button:hover {
    transform: scale(1.05);
    border-color: hsla(0,0%,100%,.5);
  }

  /* 
  -------------------
  HOME POPUP 
  -------------------
  */
  #home-select {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
  div[aria-label="Hazy Settings"] .main-trackCreditsModal-mainSection {
    overflow-y: hidden;
    padding: 24px;
  }
  .main-trackCreditsModal-container {
    max-height: 100%;
  }
  .main-trackCreditsModal-originalCredits {
    padding-bottom: 0;
  }
  .main-userWidget-dropDownMenu li.main-contextMenu-menuItem > div {
    left: calc(225px + 185px) !important;
    width: 225px;
  }
  .hazyOptionRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button.hazyOptionToggle {
    display: flex;
    background-color: transparent;
    border: none;
  }

  span.toggleWrapper {
    width: 42px;
    height: 24px;
    background-color: rgb(131,131,131);
    border-radius: 12px;
    display: flex;
    align-items: center;
  }

  span.toggle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    margin-left: 2px;
    transition: 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95)
  }

  span.toggleWrapper:has(span.toggle.enabled) {
    background-color: var(--spice-button);
  }

  span.toggle.enabled {
    margin-left: 20px;
  }

  #src-input {
    margin-bottom: 15px;
  }

  .main-editImageButton-icon svg {
    fill: currentColor;
  }

  .main-playlistEditDetailsModal-imageDropDownButton svg {
    fill: currentColor;
  }

  #home-save {
    display: inline-block;
    margin-left: auto;
    position: relative;
    left: 230px;
    width: 80px;
    height: 38px;
    color: #fff;
    border-radius: var(--button-border);
    background-color: var(--spice-button);
    padding-bottom: 1px;
    font-size: 12.5px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: rgb(66 180 114);
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  #value-reset {
    display: inline-block;
    position: relative;
    left: 210px;
    margin-top: 20px;
    width: 80px;
    height: 38px;
    color: #ffffff;
    border-radius: var(--button-border);
    background-color: var(--spice-button);
    padding-bottom: 1px;
    font-size: 12.5px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: rgb(65 173 110);
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    background-color: #ea5d5d;
  }

  #home-save:hover {
    background-color: #23c483;
    box-shadow:  0px 0px 15px 5px rgba(46, 229, 157, 0.4);
  }

  #value-reset:hover {
    background-color: #ec6f6f;
    box-shadow: 0px 0px 15px 5px rgb(229 46 46 / 40%);
  }

  /* report issue link */
  .issue-button {
    display: block;
    padding-bottom: 10px;
    font-size: 0.8em;
    width: fit-content;
    opacity: 0.8
  }

  .issue-button:hover {
    opacity: 0.9
  }

  .blur-amount {
    width: 100%;
    padding-top: 10px;
  }

  .slider-container {
    display: flex;
    padding: 15px 0 0 0;
  }

  .hazyOptionDesc {
    text-align: right;
    margin-right: 10px;
    font-size: 0.875rem;
  }

  .slider-container > div {
    color: rgb(255 255 255 / 60%);
    font-size: 0.8rem;
    margin-top: 2px;
    padding-left: 0;
    width: 25px
  }

  .slider-container label {
    text-align: right;
    margin-right: 10px;
    font-size: 0.875rem;
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%; 
    height: 4px; 
    background: rgba(var(--spice-rgb-selected-row),.3);
    border-radius: 2px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 10px;
    margin-right: 12px;
  }

  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }


  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #04AA6D;
    cursor: pointer;
    background-color: var(--spice-text);
    border: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 4px 0 rgba(var(--spice-rgb-shadow),.5);
    box-shadow: 0 2px 4px 0 rgba(var(--spice-rgb-shadow),.5);
    height: 9px;
    width: 9px;
  }

  /*-------------------
  POPUP MODAL
  -------------------*/


  #banner-select {
    grid-area: banner-image;
    width: auto;
  }
  .banner-input {
    display: none;
  }
  #src-select {
    grid-area: src-select;
  }
  .main-playlistEditDetailsModal-textElement:focus {
    background-color: rgba(var(--spice-rgb-selected-row), 0.1);
  }
